#masthead-container > * {
  text-align: center;
  margin: auto;
}

.code-container {
  text-align: center;
}

.code-container pre {
  display: inline-block;
  text-align: left;
  border-radius: 10px;
  padding: 10px;
}

#masthead .code-container {
  max-width: 90%;
}

#masthead .code-container pre {
  overflow: auto;
  max-width: 100%;
}